{% import "sheet/vue_macros" as vue_macros %}

{% extends "sheet/base" %}

{% block content %}
    {% set save_url = url_for(endpoint="save_sheet", id=sheet.metadata.id) %}
    {{ vue_macros::vue_app(mode="edit_sheet", sheet_id=sheet.metadata.id, sheet_title=sheet.metadata.title, content=sheet.content, save_url=save_url) }}
{% endblock content %}
