{% import "sheet/vue_macros" as vue_macros %}

{% extends "sheet/base" %}

{% block content %}
    {{ vue_macros::vue_app(mode="view_sheet", sheet_id=sheet.metadata.id, sheet_title=sheet.metadata.title, content=sheet.content) }}
{% endblock content %}
