<!DOCTYPE html>
<html lang="de">
  <head>
    {% block head %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
      <link rel="icon" href='{{ url_for(endpoint="FileServer: assets/", path="img/favicon.ico") }}'>
      <title>{% block title %}HCI Bildung{% endblock %}</title>
    {% endblock head %}
  </head>
  <body>
    <header>
      {% include "generic/nav" %}
    </header>
    <main class="container is-fluid">
      {% block messages %}
        {% if flash %}
          <article class="mt-3 message is-{{ flash.kind }}">
            <div class="message-body">
              {{ flash.message }}
            </div>
          </article>
        {% endif %}
      {% endblock messages %}
      {% block content %}
      {% endblock content %}
    </main>
    {% block scripts %}
      <script src='{{ url_for(endpoint="FileServer: assets/", path="js/modal.js") }}'></script>
      <script src='{{ url_for(endpoint="FileServer: assets/", path="js/validation.js") }}'></script>
    {% endblock %}
  </body>
</html>
