{% import "generic/symbols" as symbols %}
{% import "management/sidebar" as sidebar %}

{% extends "management/sheet/active_sheets_base" %}
{% block title %}
  Zuletzt verwendet — {{ super() }}
{% endblock title %}

{% block sidebar %}
  {{ sidebar::sidebar(active="recent_sheets") }}
{% endblock sidebar %}

{% block heading %}
  Meine Dokumente
{% endblock heading %}
