{% extends "management/solution/teacher_solutions_base" %}

{% block sidebar %}
  {{ sidebar::sidebar(active="student_solutions") }}
{% endblock sidebar %}

{% block heading %}
  Lösungen von Schüler*innen
{% endblock heading %}

{% block content %}
  {% set show_title = true %}
  {{ super() }}
{% endblock content %}
