{% import "management/solution/macros" as macros %}

{% extends "management/solution/base" %}

{% block header %}
  {{ macros::solution_header_teacher(show_title=show_title) }}
{% endblock header %}

{% block rows %}
  {% for solution in solutions %} 
    <tr>
      {{ macros::solution_row_teacher(solution=solution, show_title=show_title) }}
    </tr>
  {% endfor %}
{% endblock rows %}

{% block content %}
  {% set num_actions = 1 %}
  {{ super() }}
{% endblock content %}
