{% extends "generic/base" %}
{% block title %}
  Editor — {{ super() }}
{% endblock title %}
{% block content %}
  <div id="app" data-edit='{{ edit }}' data-docid='"{{ sheet.id }}"' data-doctitle='"{{ sheet.title }}"' data-docjson='{{ sheet.tiptap | json_encode() | safe }}'></div>
  {% include "vue_index" %}
{% endblock content %}
