{% import "sheet/vue_macros" as vue_macros %}

{% extends "sheet/base" %}

{% block content %}
    {{ vue_macros::vue_app(mode="view_solution", sheet_id=solution.metadata.id, sheet_title=solution.metadata.title, content=solution.content) }}
{% endblock content %}
